@use 'variaveis';

.hero {
    margin-top: 2rem;
    padding: 5.6vw;
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: start;
    align-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/src/images/hero_almodovar.webp');
    background-size: cover;
    background-position: center;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 4rem 1.5rem;
        margin-top: 0;
    }

    &__content {
        padding: 0 2rem;

        &__title{
            font-size: 5rem;
            font-weight: 900;
            color: variaveis.$vermelho-almodovar;
            line-height: 1;
            margin-bottom: 2rem;

            @media (max-width: 768px) {
                font-size: 2.5rem;
                text-transform: uppercase;
                margin-bottom: 1rem;
                line-height: 1.1;
            }
        }

        p {
            font-size: 1.2rem;
            line-height: 1.6;

            @media (max-width: 768px) {
                font-size: 1rem;
                line-height: 1.5;
            }
        }
    }

    &__citation {
        max-width: 80%;
        padding: 0 2rem;
        margin-left: auto;
        display: flex;
        align-items: center;

        @media (max-width: 768px) {
            margin-top: 3rem;
            padding: 0 1rem;
        }
        
        h1 {
            font-family: 'Lora', serif;
            font-style: italic;
            font-size: 1.5rem;
            color: rgba(255, 255, 255, 0.6);
            line-height: 1.4;

            @media (max-width: 768px) {
                font-size: 0.9rem;
            }
        }
    }
}