@use 'variaveis';

.hero {
    margin-top: 2rem;
    padding: 5.6vw;
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: start;
    align-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/src/images/hero_almodovar.webp');
    background-size: cover;
    background-position: center;

    &__content {
        padding: 0 2rem;

        &__title{
            font-size: 5rem;
            font-weight: 900;
            color: variaveis.$vermelho-almodovar;
            line-height: 1;
            margin-bottom: 2rem;
        }

        p {
            font-size: 1.2rem;
            line-height: 1.6;
        }
    }

    &__citation {
        max-width: 80%;
        padding: 0 2rem;
        margin-left: auto;
        display: flex;
        align-items: center;
        
        h1 {
            font-family: 'Lora', serif;
            font-style: italic;
            font-size: 1.5rem;
            color: rgba(255, 255, 255, 0.6);
            line-height: 1.4;
        }
    }
}