@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: start;
    align-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/src/images/hero_almodovar.webp');
    background-size: cover;
    background-position: center;

    &__content {
        padding: 40px;

        &__title{
            padding: 18px;
        }

        p {
            padding: 0 0 0 20px;
            margin-right: 40px;
        }
    }

    &__citation {
        max-width: 80%;
        padding: 40px;
        margin-left: auto;
        
        h1 {
            font-style: italic;
        }
    }
}