@use 'variaveis';
@use 'hero';
@use 'filmografia';
@use 'chicas';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variaveis.$corDeFundo;
    color: variaveis.$corTextoPrincipal;
    font-family: variaveis.$fonteCorpo;
}

